@import 'guide.scss';

// Main Container
.main-wrapper {
	width: 350px;
	height: 620px;
	grid-template-columns: 1fr;
	grid-template-rows: 120px 400px;
}

// Hero section
.hero__background {
	overflow: visible;
}
.hero__background-img {
	top: 0;
    left: calc(50% - 120px);
	width: 240px;
	height: 104px;
	background-image: url(../assets/icons/bg-pattern-mobile.svg);
	background-repeat: no-repeat;
	rotate: 0deg;
}
.hero__illustration {
	top: -100px;
    left: calc(50% - 110px);
	width: 220px;
	height: 180px;
	background-image: url(../assets/icons/illustration-woman-online-mobile.svg);
}
.hero__box-icon {
	display: none;
}

// Info section
.info {
	height: 450px;
	margin: 0;
}
.info__title {
	font-size: 2rem;
	text-align: center;
}
.info__container {
	width: 100%;
}
.info__question-container {
	justify-content: space-between;
	width: 100%;
}
.question {
	font-size: 1.6rem;
	p {
		width: 90%;
	}
}
.answer {
	font-size: 1.3rem;
	width: 95%;
}

// Breakpoints
@media screen and (min-height: 740px) and (max-width: 932px) {
	body {
		height: 100vh;
	}
}
@media screen and (height: 720px) {
	body {
		height: auto;
	}
}
@media screen and (max-width: 320px) {
	.main-wrapper {
		width: 100%;
	}
}